{% load static %}
<html>
    <head>
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- start pop-up -->
        <div id="popup" class="popup">
            <div class="popup-content" id = "popup-content">
                <span id="closePopup" class="close" onclick="close_pop_up()">&times;</span>
                <p style="font-size: 100px; text-align: center;" id = "message-box"></p>
                <p style="font-size: 50px; text-align: center; " id = "timer-result"></p>
            </div>
        </div>
        <!-- end pop-up -->
        
        <div class="half-page-left">
            <img id = "hang-man-image" src="{% static 'HangMan1.png' %}" alt="Centered Image">
        </div>
        <div class="half-page-right">
            <div class = "half-page-top">
                <div class="letter-group">
                    <p id = "game-word" style="font-size: 90px; position: relative; bottom:10%;">{{empty_word}}</p>
                </div>
                <div class = "timer-box" id = "timer">
                    00 : 00 : 00
                </div>
                <div class = "hint-box">
                    Category:  {{category}}
                </div>
            </div>
            <div class = "half-page-bottom">
                <div class="keyboard">
                    <button id = "Abutton" onclick = "check_letter('A')"> A </button>
                    <button id = "Bbutton" onclick = "check_letter('B')"> B </button>
                    <button id = "Cbutton" onclick = "check_letter('C')"> C </button>
                    <button id = "Dbutton" onclick = "check_letter('D')"> D </button>
                    <button id = "Ebutton" onclick = "check_letter('E')"> E </button>
                    <button id = "Fbutton" onclick = "check_letter('F')"> F </button>
                    <button id = "Gbutton" onclick = "check_letter('G')"> G </button>
                    <button id = "Hbutton" onclick = "check_letter('H')"> H </button>
                    <button id = "Ibutton" onclick = "check_letter('I')"> I </button>
                    <button id = "Jbutton" onclick = "check_letter('J')"> J </button>
                    <button id = "Kbutton" onclick = "check_letter('K')"> K </button>
                    <button id = "Lbutton" onclick = "check_letter('L')"> L </button>
                    <button id = "Mbutton" onclick = "check_letter('M')"> M </button>
                    <button id = "Nbutton" onclick = "check_letter('N')"> N </button>
                    <button id = "Obutton" onclick = "check_letter('O')"> O </button>
                    <button id = "Pbutton" onclick = "check_letter('P')"> P </button>
                    <button id = "Qbutton" onclick = "check_letter('Q')"> Q </button>
                    <button id = "Rbutton" onclick = "check_letter('R')"> R </button>
                    <button id = "Sbutton" onclick = "check_letter('S')"> S </button>
                    <button id = "Tbutton" onclick = "check_letter('T')"> T </button>
                    <button id = "Ubutton" onclick = "check_letter('U')"> U </button>
                    <button id = "Vbutton" onclick = "check_letter('V')"> V </button>
                    <button id = "Wbutton" onclick = "check_letter('W')"> W </button>
                    <button id = "Xbutton" onclick = "check_letter('X')"> X </button>
                    <button id = "Ybutton" onclick = "check_letter('Y')"> Y </button>
                    <button id = "Zbutton" onclick = "check_letter('Z')"> Z </button>
                </div>
            </div>
            
            
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ username | json_script:"user_name" }}
        <script>
            const user_name = JSON.parse(document.getElementById('user_name').textContent);
            
            function check_letter(character) {
                $.ajax({
                    type: "POST",
                    url: "/check_letter/",
                    dataType: "json",
                    data: JSON.stringify({'character': character, 'username' : user_name }),
                    contentType: "application/json",
                    success: function (data) {
                        var source = "/static/" + data.hang_man_image
                        document.getElementById('game-word').innerHTML = data.current_string
                        document.getElementById('hang-man-image').src = source
                        document.getElementById(character + 'button').style.backgroundColor = (data.answer_status == true? '#68ad74' : '#ff6d6d')
                        document.getElementById(character + 'button').disabled = true;
                        
                        show_pop_up(data.win_status, data.answer)
                    },
                    error: function (data) {
                        alert("Failed to connect server!");
                    }
                });
            }
            

            let intervalId;
            function show_pop_up(win_status, answer) {
                if(win_status == "win")
                {
                    document.getElementById('popup').style.display = 'block';
                    document.getElementById('popup-content').style.backgroundColor = 'green';
                    document.getElementById('message-box').innerHTML = "You Won!";
                    document.getElementById('timer-result').innerHTML = document.getElementById('timer').innerHTML;
                    clearInterval(intervalId);
                    $(':button').prop('disabled', true); // Disable all the buttons
                }
                else if(win_status == "lose")
                {
                    document.getElementById('popup').style.display = 'block';
                    document.getElementById('popup-content').style.backgroundColor = 'red';
                    document.getElementById('message-box').innerHTML = "You Losed!";
                    document.getElementById('timer-result').innerHTML = "correct word: " + answer;

                    clearInterval(intervalId);
                    $(':button').prop('disabled', true); // Disable all the buttons
                }
            }
            
            function close_pop_up(win_status) {
                document.getElementById('popup').style.display = 'none';
            }
            
            
            
            window.onload = function() {
                stopWatch();
            }

            function stopWatch() {
                let time = 0;
                

                // Start the stopwatch automatically
                time = -1;
                incrementTime();
                intervalId = setInterval(incrementTime, 1000);
                startBtn.disabled = true;
                stopBtn.disabled = false;

                function incrementTime() {
                    time++;
                    document.getElementById("timer").textContent = ("0" + Math.trunc(time / 3600)).slice(-2) + " : " + ("0" + Math.trunc((time % 3600) / 60)).slice(-2) + " : " + ("0" + (time % 60)).slice(-2);
                }
            }
        </script>
    </body>
</html>

